<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.corentinc.notificoin">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_duck"
        android:label="@string/appName"
        android:roundIcon="@drawable/ic_duck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.github.corentinc.notificoin.MainActivity"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.github.corentinc.notificoin.ui.alarmManager.AlarmBroadcastReceiver"
            android:process=":remote" />

        <service
            android:name="com.github.corentinc.notificoin.ui.detectNewAds.DetectNewAdsService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
    </application>

</manifest>